{{- $ageSecretKeyPath := promptStringOnce . "ageSecretKeyPath" "age identity 1pass secret reference path" -}}
sourceDir = "{{ .chezmoi.sourceDir }}"
encryption = "age"

[data]
    ageSecretKeyPath = {{ $ageSecretKeyPath | quote }}

[age]
    symmetric = true
    command = "{{- .chezmoi.sourceDir -}}/bin/chez-age1p"
    args = ["--op-keypath", "{{- $ageSecretKeyPath -}}"]
