{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{- .chezmoi.homeDir -}}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-08-05T16:13:08.361Z"
  },
  "duckdb-skills": {
    "source": {
      "source": "github",
      "repo": "duckdb/duckdb-skills"
    },
    "installLocation": "{{- .chezmoi.homeDir -}}/.claude/plugins/marketplaces/duckdb-skills",
    "lastUpdated": "2026-05-06T04:15:02.449Z"
  },
  "astral-sh": {
    "source": {
      "source": "github",
      "repo": "astral-sh/claude-code-plugins"
    },
    "installLocation": "{{- .chezmoi.homeDir -}}/.claude/plugins/marketplaces/astral-sh",
    "lastUpdated": "2026-05-06T04:16:19.391Z"
  },
  "i-have-adhd": {
    "source": {
      "source": "github",
      "repo": "ayghri/i-have-adhd"
    },
    "installLocation": "{{- .chezmoi.homeDir -}}/.claude/plugins/marketplaces/i-have-adhd",
    "lastUpdated": "2026-07-26T19:35:53.779Z"
  },
  "dljsjr": {
    "source": {
      "source": "github",
      "repo": "dljsjr/tui-art"
    },
    "installLocation": "{{- .chezmoi.homeDir -}}/.claude/plugins/marketplaces/dljsjr",
    "lastUpdated": "2026-08-22T02:35:37.192Z"
  }
}