# Overlay-provided host fragments (work machines, etc.) take precedence over
# the host blocks and defaults below; ssh uses the first obtained value per option.
Include config.d/*.conf

Host GameBox
  AddressFamily inet
  User "dstephen"
  HostName 198.74.53.143
  IdentityFile ~/.ssh/{{ if eq .chezmoi.os "darwin" }}id_ed25519.pub{{ else }}id_{{ .chezmoi.hostname }}{{ end }}
  AddKeysToAgent yes
  ForwardAgent yes

Host Jox
  AddressFamily inet
  User "dstephen"
  HostName "jox.local"
  IdentityFile ~/.ssh/{{ if eq .chezmoi.os "darwin" }}id_ed25519.pub{{ else }}id_{{ .chezmoi.hostname }}{{ end }}
  AddKeysToAgent yes
  ForwardAgent yes

Host *
  {{- if eq .chezmoi.os "darwin" }}
  AppleMultipath yes
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {{ end -}}
  IdentityFile ~/.ssh/{{ if eq .chezmoi.os "darwin" }}id_ed25519.pub{{ else }}id_{{ .chezmoi.hostname }}{{ end }}
  AddressFamily inet
  ControlMaster auto
  ControlPath ~/.ssh/controlmasters/%r@%h__%p
  ControlPersist 8h
