#!/usr/bin/env sh
{{ if eq .chezmoi.os "darwin" -}}
APP_NAME='Obsidian'
CF_BUNDLE_ID='md.obsidian'
DOWNLOAD_URL="$(curl -sL -H "Accept: application/vnd.github+json" https://api.github.com/repos/obsidianmd/obsidian-releases/releases/latest | sed -n -e 's/^.*"browser_download_url":[^"]*"\(.*\.dmg\).*$/\1/p')"
{{ includeTemplate "install_app_from_dmg" $ -}}
{{ end -}}
